
.section__authentication {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 70px 20px 20px 20px;
}

.field__authentication {
    padding: 20px;
    background: var(--container-background);
    border-radius: 2px;
    max-width: 420px;
    width: 100%;
}

.authentication__conductor {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    border-bottom: 1px solid #fff;
    padding-bottom: 4px;
}

.conductor__item {
    cursor: pointer;
    font-family: sans-serif;
}
.conductor__item:hover{
    color: var(--hovered-element);
}
.conductor__item.active{
    color: var(--blocked-element) !important;
    cursor: default;
}

.form__auth {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.field__input {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
}

.input__login, .input__password {
    width: 100%;
    border-radius: 2px;
    padding: 4px 0 4px 4px;
    background: #00000045;
    border: 1px solid #4a4a4a;
    font-size: 18px;
    color: #fff;
}

.svg__auth-help {
    height: 18px;
    width: 18px;
    fill:  #17171c;
    margin-right: 5px;
}

.cell__error {
    color: #ff3a75;
}

.button__submit {
    display: flex;
    justify-content: center;
    padding: 3px 0;
    margin-top: 12px;
    width: 100%;
    border: 0;
    border-radius: 3px;
    background: radial-gradient(#00d9ff, rgb(0, 88, 255, 0.47));
    color: #000000;
    font-family: sans-serif;
    font-weight: 600;
    letter-spacing: 0.5px;
    cursor: pointer;
    user-select: none;
}

.button__submit:hover {
    background: radial-gradient(#8fff00, #00ff0878);
}
.button__submit:focus {
    background: radial-gradient(#ffa500, rgb(255 104 0 / 0.47));
}

.input__login:focus-visible + .svg__auth-help,
.input__password:focus-visible + .svg__auth-help {
    fill: #31ff48;
}

@media (max-width: 768px) {
    .section__authentication {
        margin: 56px 10px 20px 10px;
    }
}