/venv/
/.idea
/macroeconomics_simulator/db.sqlite3
/macroeconomics_simulator/media
/macroeconomics_simulator/stock/migrations
!macroeconomics_simulator/stock/migrations/__init__.py
/frontend/node_modules
/macroeconomics_simulator/logs.log
/k8s/
/terraform/.terraform/
