
.field__company {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.field__company_products {
    max-width: 300px;
    max-height: 500px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
.container__company_chart {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 15px;
}

.company__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 50px;
}

.company__column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
}

.company__row {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.form__create_company {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4px;
}

.company__products_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (max-width: 400px) {
    .form__create_company {
        grid-template-columns: 1fr 1fr;
    }
}