/* move it to index later */

.container__header_1 {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-weight: 600;
    border-bottom: 2px solid var(--highlight-element-2);
    padding-bottom: 3px;
    margin-bottom: 5px;
    width: 100%; /* anomaly */
}

.content__header {
    color: #fff;
    text-decoration: none;
}
.content__header:hover{
    color: var(--hovered-element);
}
.content__header:focus {
    color: var(--blocked-element);
}

.area__row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.container__default {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    border-radius: 4px;
    width: fit-content;
    height: fit-content; /* controversial */
    background: var(--container-background);
    border: 2px solid #000;
    color: #fff;
}

.form__default {
    display: flex;
    flex-direction: column;
}

.form__default-2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #fff;
}

.input__default {
    width: 100%;
    border-radius: 2px;
    padding: 4px 0 4px 4px;
    background: #00000045;
    border: 1px solid #4a4a4a;
    color: #fff;
}

.cell__column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; /* not sure */
    gap: 6px;
}

.cell__row {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    text-align: right;
}