
.container__header_1 {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-weight: 600;
    border-bottom: 2px solid var(--highlight-element-2);
    padding-bottom: 3px;
    margin-bottom: 5px;
    width: 100%; /* anomaly */
    text-align: center;
    color: #fff;
}

.content__header {
    color: #fff;
    text-decoration: none;
}
.content__header:hover{
    color: var(--hovered-element);
}
.content__header:focus {
    color: var(--blocked-element);
}

.area__row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.area__column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.field__default {
    padding: 15px;
    border-radius: 4px;
    width: fit-content;
    background: var(--container-background);
    border: 2px solid #000;
    color: #fff;
}

.container__default {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    border-radius: 4px;
    width: fit-content;
    background: var(--container-background);
    border: 2px solid #000;
    color: #fff;
}

.form__default {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.form__default-2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #fff;
    min-width: 300px;
    width: 100%;
    padding: 0 5px;
}

.input__default {
    width: 100%;
    border-radius: 2px;
    padding: 4px 0 4px 4px;
    border: 1px solid #4a4a4a;
    background: #00000063;
    color: #fff;
}

.select__default {
    background: #1d1d24;
    color: #fff;
    border: 1px solid #4a4a4a;
    border-radius: 2px;
    padding: 2px 0 2px 2px;
}
.option__default {
    background: #1d1d24;
    border: 1px solid #4a4a4a;
    color: #fff;
}
/*вторая форма более четко видна, но выглядит немного более резкой на обычном фоне*/
.select__default-2 {
    background: #12121bff;
    border: 1px solid #4a4a4a;
    color: #fff;
    border-radius: 2px;
    padding: 2px 0 2px 2px;
}
.option__default-2 {
    background: #12121bff;
    border: 1px solid #4a4a4a;
    color: #fff;
}

.cell__error {
    color: #ff3a75;
}

.cell__simple { /*used 1 time*/
    display: flex;
    column-gap: 25px;
}

.cell__column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; /* not sure */
    gap: 6px;
}

.cell__row {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    text-align: right;
}

@media (max-width: 500px) {
    .profile__header {
        border-radius: 0 !important;
        border-left: 0 !important;
        border-right: 0 !important;
    }
    .flexible_container {
        margin: 0 5px;
    }
}