*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --background: #19191fff;
    --container-background: #2c2c37;
    --container-background-2: #1e1e2c;
    --lines: #fff306;
    --hovered-element: #34da49;
    --blocked-element: #ff8742;
    --clickable-element: #0073F8;
    --highlight-element-1: #ff0f4f;
    --highlight-element-2: #57a5ff;
}

body {
    background: var(--background);
    margin: 0;
}

.svg__list {
    position: absolute;
    visibility: hidden;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}

.pillar__container {
    position: fixed;
    top: -16px;
    bottom: 0;
    width: 50px;
    z-index: -1;
    display: flex;
    flex-direction: column;
    margin-top: 65px;
}
.pillar__container_left {
    left: 0;
}
.pillar__container_right {
    right: 0;
}
.svg__pillar_center {
    fill: var(--lines);
    width: 100%;
    height: 100%;
    margin: -1px 0;
}
.svg__pillar_top {
    fill: var(--lines);
    width: 100%;
    height: 20.53px;
}
.svg__pillar_bottom {
    fill: var(--lines);
    width: 100%;
    height: 20.53px;
    transform: rotate(180deg);
}


.section__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3px;
    max-height: 60px;
    border-bottom: 2px solid var(--lines);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: var(--background);
}

.header__items {
    display: flex;
    align-items: center;
    flex-grow: 1;
    height: 29px;
    font-family: sans-serif;
    margin: 0 5%;
}
.header__item {
    text-decoration: none;
    -webkit-user-select: none;
    user-select: none;
    color: #fff;
    cursor: pointer;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    position: relative;
    z-index: 1;
}
.header__item:hover {
    color: var(--clickable-element);
}
.header__item:focus {
    color: var(--blocked-element);
}
.header__item:hover .header__stock_dropdown {
    display: flex;
}
.header__stock_dropdown {
    display: none;
    cursor: default;
    flex-direction: column;
    gap: 17px;
    position: absolute;
    top: -10px;
    width: 100%;
    padding: 49px 0 17px 0;
    border-radius: 0 0 2px 2px;
    background: linear-gradient(360deg, #111115, var(--background));
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 73%);
}
.dropdown__line {
    width: 100%;
    height: 3px;
    background: #4c4c4c;
}

.header__sitename {
    display: flex;
    flex-grow: 1;
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: 0.5px;
    position: relative;
    margin-left: 8px;
    padding: 8px 8px 8px 0;
    color: var(--clickable-element);
    text-decoration: none;
}

.menu__button {
    position: relative;
    display: none;
}
.toggle__bar {
    display: block;
    width: 25px;
    height: 3px;
    background: #0073F8;
    margin: 5px;
}

.header__dropdown{
    display: none;
    flex-direction: column;
    text-align: center;
    position: fixed;
    background-color: #000;
    left: -768px;
    width: 100%;
    height: 100%;
    top: 0;
    transition: 0.5s ease;
    z-index: 4;
}

.dropdown__field {
    height: 100%;
    background: #1f1f1f;
}

.dropdown__closing {
    background: #000;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    cursor: pointer;
}

.cross {
    background: #fff;
    width: 1em;
    height: 1em;
    clip-path: polygon(25% 5%, 5% 25%, 35% 50%, 5% 75%, 25% 95%, 50% 65%, 75% 95%, 95% 75%, 65% 50%, 95% 25%, 75% 5%, 50% 35%);
}

.header__dropdown__item {
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 5px 20px 5px 25px;
    font-size: 20px;
    font-family: 'Robot', sans-serif;
    color: #fff;
    border-bottom: 2px solid #545454;
    text-decoration: none;
}
.header__dropdown__item_mini {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 7px;
    padding: 0 20px 3px 70px;
    font-family: 'Robot', sans-serif;
    color: #fff;
    border-bottom: 2px solid #545454;
    text-decoration: none;
}
.header__dropdown__item_mini:before {
    content: '';
    position: absolute;
    top: 9px;
    left: 50px;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    background-color: #545454;
    border-radius: 50%;
}

.svg__menu_icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

#menu__toggle{
    display: none;
}

#menu__toggle:checked ~ .header__dropdown {
    left: 0;
}

.section__main {
    margin: 70px 20px 20px 20px;
}

/*loading effect*/
.field__loading {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    width: 150px;
    height: 150px;
}
.loading__spinner {
    animation: rotate 2s linear infinite;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
}
.spinner__stroke {
    stroke: url(#gradient);
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
    stroke-width: 2px;
}
.global__loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    z-index: -999 !important;
}
.global__container {
    position: fixed;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
/* global form*/
.form__global {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 15px;
    background: var(--container-background-2);
    border: 2px solid var(--highlight-element-1);
    border-radius: 4px;
    box-shadow: 0 0 0 2px rgb(0 0 0), 0 2px 4px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.3), 0 0 16px rgb(0 0 0);
}
.area__close {
    position: relative;
    left: 9px;
    bottom: 9px;
    margin-bottom: -4px;
    cursor: pointer;
}

.field__chart { /* настроить max-heiht в vh для частных случаев */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    aspect-ratio: 2 / 1;
}
.chart__company {
    max-width: 1000px;
    max-height: 500px;
    height: fit-content;
}
.chart__gold {
    max-width: 1000px;
    max-height: 500px;
    height: fit-content;
}

.dynamic_update_static {
    animation: calm 5s forwards;
}
.dynamic_update_increase {
    animation: increase 5s forwards;
}
.dynamic_update_decrease {
    animation: decrease 5s forwards;
}
@keyframes calm {
    0% {
        color: initial;
    }
    50% {
        color: var(--lines);
    }
    100% {
        color: initial;
    }
}
@keyframes increase {
    0% {
        color: initial;
    }
    50% {
        color: var(--hovered-element);
    }
    100% {
        color: initial;
    }
}
@keyframes decrease {
    0% {
        color: initial;
    }
    50% {
        color: var(--highlight-element-1);
    }
    100% {
        color: initial;
    }
}
@keyframes rotate {
    100% {
        transform:rotate(360deg);
    }
}
@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}

@media (max-width: 1100px) {
    .chart__company {
        margin: 0 40px;
    }
    .chart__gold {
        margin: 0 40px;
    }
}
@media (max-width: 768px){
    .menu__button {
        display: block;
    }
    .header__dropdown {
        display: flex;
    }
    .header__items {
        display: none;
    }
    .header__field {
        display: flex;
        align-items: center;
        flex-grow: 1;
    }
    .header__sitename {
        padding: initial;
    }
    .section__main {
        margin: 56px 10px 20px 10px;
    }
    .pillar__container {
        margin-top: 51px;
    }
}

@media (max-width: 500px) {
    .header__sitename {
        padding: initial;
        margin-left: initial;
        justify-content: center;
    }
    .section__main {
        margin: 56px 0 20px 0;
    }
}

