
.field__user_stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.profile__header {
    display: flex;
    justify-content: space-evenly;
    padding: 6px 0;
    max-width: 700px;
    width: 100%;
    background: var(--container-background);
    border-radius: 2px;
    border: 2px solid;
}

.profile__header__item {
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
    font-weight: 600;
}
.profile__header__item:hover {
    color: var(--hovered-element);
}
.profile__header__item:focus {
    color: var(--blocked-element);
}

.user__info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.user__info__username { /* same */
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-weight: 600;
    border-bottom: 2px solid var(--highlight-element-2);
    padding-bottom: 3px;
    margin-bottom: 3px;
}
.user__info__row { /* same again */
    display: flex;
    justify-content: space-between;
    gap: 35px;
}

.field__profile__content {

}

.content__list__item {
    display: flex;
    flex-direction: column;
    gap: 6px;
}


/* user tickers recipies */
.content__ingredient__list {
    display: flex;
    column-gap: 20px;
    row-gap: 8px;
    flex-wrap: wrap;
}
.ingredient__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    background: var(--background);
    padding: 4px 8px;
    border-radius: 6px;
    border: 1px solid #355059;
    color: #fff;
}

.transmutation__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 20px;
    font-family: sans-serif;
    font-weight: 600;
    border-bottom: 2px solid var(--highlight-element-2);
    padding-bottom: 3px;
    margin-bottom: 5px;
    width: 100%;
}
.button__transmutation {
    margin-top: 0;
    max-width: 140px;
    width: 100%;
}

/* user tickers */
.content__row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    cursor: default;
}
.content__row:hover{
    color: var(--hovered-element);
}
.content__s {
    color: var(--lines);
}
