
.field__user_stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.profile__header {
    display: flex;
    justify-content: space-evenly;
    padding: 6px 0;
    max-width: 700px;
    width: 100%;
    background: var(--container-background);
    border-radius: 2px;
    border: 2px solid;
}

.profile__header__item {
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
    font-weight: 600;
}
.profile__header__item:hover {
    color: var(--hovered-element);
}
.profile__header__item:focus {
    color: var(--blocked-element);
}

.user__info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.user__info__username { /* same */
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-weight: 600;
    border-bottom: 2px solid var(--highlight-element-2);
    padding-bottom: 3px;
    margin-bottom: 3px;
}
.user__info__row { /* same again */
    display: flex;
    justify-content: space-between;
    gap: 35px;
}

.field__profile__content {

}

.profile__content__list {
    display: flex;
    flex-direction: column;
    background: var(--container-background);
    padding: 15px;
    border: 2px solid #000;
    border-radius: 4px;
    gap: 14px;
}

.content__list__item {
    display: flex;
    flex-direction: column;
    gap: 6px;
}


/* user companies recipies */
.content__header { /* same again */
    display: flex;
    justify-content: center;
    border-bottom: 2px solid var(--highlight-element-2);
    padding-bottom: 3px;
    margin-bottom: 3px;
    color: #fff;
    text-decoration: none;
}
.content__header:hover{
    color: var(--hovered-element);
}
.content__header:focus {
    color: var(--blocked-element);
}

.content__ingredient__list {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.ingredient__item {
    display: flex;
    gap: 10px;
    background: var(--background);
    padding: 4px 8px;
    border-radius: 6px;
    border: 1px solid #355059;
    color: #fff;
}
.ingredient__name {

}
.ingredient__amount {

}

/* user companies */
.content__row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.content__s {
    color: var(--hovered-element);
}

/* user shares */
.content_tug_of_war {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 100px;
    padding: 0 5px;
    height: 1.5em;
    width: 100%;
}
.tug_of_war_bar {
    border-radius: 100px;
    background: #346f97;
    height: 19px;
}
.tug_of_war_text {
    color: #000000;
    text-shadow: 0 0 3px #ff0000, 0 0 5px #000; /* 00ff03 */
    z-index: 1;
    position: absolute;
}