
.area__gold_trade {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.field__gold_trade {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 40px 15px 40px;
    max-width: 1000px;
    width: 100%;
    padding: 14px;
    border-radius: 4px;
    background: var(--container-background);
}
.trade__gold__button {
    width: 250px;
}

.gold_trade__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* products & shares */
.field__products, .field__shares {
    display: flex;
    justify-content: center;
    width: 100%;
}
.products__list, .shares__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    color: #fff;
    width: 100%;
}
.product__item, .share__item {
    position: relative;
    background: var(--container-background);
    padding: 15px;
    border-radius: 4px;
    border: 2px solid #000;
    max-width: 240px;
    min-height: 164px;
    width: 100%;
}
.product__info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.product__name, .share__title {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-weight: 600;
    border-bottom: 2px solid var(--highlight-element-2);
    padding-bottom: 3px;
    margin-bottom: 3px;
    position: relative;
    z-index: 2;
}
.share__title {
    text-decoration: none;
    color: #fff;
}
.share__title:hover {
    color: var(--hovered-element);
}
.product__row, .share__row {
    display: flex;
    justify-content: space-between;
}
.lon_in_wish_container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: -40px;
}
.log_in_wish {
    font-size: 35px;
    border: 2px solid;
    padding: 6px;
    border-radius: 9px;
    opacity: 0.15;
    rotate: -17deg;
    -webkit-user-select: none;
    user-select: none;
}