
.state__default {
    color: #fff;
}
.state__positive {
    color: var(--hovered-element);
}
.state__negative {
    color: var(--highlight-element-1);
}

.top_rating__list {
    display: flex;
    background: var(--container-background);
    padding: 14px;
    border-radius: 4px;
    gap: 19px;
}

.text_mod_int {
    display: flex;
    justify-content: center;
    width: 50px;
    cursor: default;
}
.text_mod_fluctuations {
    display: flex;
    justify-content: flex-end;
    width: 70px;
    cursor: default;
}
.text_mod_username {
    min-width: 100px;
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;
}

.adaptive__field_1 {
    display: flex;
    justify-content: center;
    margin: 20px 10px;
}

.top_rating__list_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--container-background);
    padding: 14px;
    border-radius: 4px;
    gap: 4px;
}
.top_rating_header {
    font-family: sans-serif;
    color: #80bbff;
}

.hover_clickable_1 {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}
.hover_backlight:hover, .hover_clickable_1:hover {
    color: var(--hovered-element);
}
.hover_clickable_1:focus {
    color: var(--blocked-element);
}

@media (max-width: 500px){ /* calibrate */
    .top_rating__list_2 {
        border-radius: initial;
        width: 100%;
    }
    .adaptive__field_1 {
        margin: 20px 0;
    }
    .text_mod_fluctuations {
        justify-content: center;
        width: 90px;
    }
}
@media (max-width: 450px) {
    .mod_hide {
        display: none;
    }
    .text_mod_username {
        min-width: 72px;
        width: 70px;
    }
    .state__default {
        color: #000;
        background: #f6f6f6;
        border-radius: 3px;
    }
    .state__positive {
        color: initial;
        background: var(--hovered-element);
        border-radius: 3px;
    }
    .state__negative {
        color: initial;
        background: var(--highlight-element-1);
        border-radius: 3px;
    }
}
