
.field__top_rating {
    display: flex;
    justify-content: center; /* remvoe later*/
    margin: 10px; /*probably this too*/
}

.top_rating__list {
    display: flex;
    background: var(--container-background);
    padding: 14px;
    border-radius: 4px;
    gap: 19px;
}

.list__column {

}

.measurement_date {

}

.top_rating__column {

}

.top_rating__item {
    cursor: default;
}
.top_rating__item:hover {
    color: var(--hovered-element);
}

